.container {
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 2em;
}

.main {
	padding: 0 1.5em;
	font-size: 0.85rem;
	color: var(--text);
	transition: var(--transition-text);
}

.flag img {
	border-radius: 0.5em;
	box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.0294384);
}
.detail h2 {
	margin: 0.7em 0 0.5em 0;
}
.detail span {
	font-weight: bold;
}
.detail li {
	margin-top: 0.1em;
}

.info {
	display: flex;
	justify-content: space-between;
}
.info ul {
	width: 50%;
	overflow: hidden;
}

.borders {
	margin-top: 0.5em;
}

.back {
	border: 0;
	width: 120px;
	transition: var(--transition-bg);
	background: var(--accent1);
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
	padding: 1rem;
	margin-bottom: 2em;
	cursor: pointer;
	border-radius: 0.5rem;
	color: var(--text);
}
.back {
	display: flex;
	justify-content: center;
	gap: 6px;
}

.boxContainer {
	display: flex;
	gap: 0.6rem;
	flex-wrap: wrap;
}

.box {
	font-size: 0.8rem;
	background: var(--accent1);
	transition: var(--transition-bg);
	padding: 10px;
	border-radius: 0.25em;
}

@media (min-width: 768px) {
	.main {
		font-size: 1rem;
	}
	.flag {
		width: 75%;
		margin: 0 auto;
	}
	.detail h2 {
		margin: 0;
	}
	.detail {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media (min-width: 1000px) {
	.container {
		margin-top: 5em;
	}
	.main {
		display: flex;
		justify-content: space-between;
		padding: 0;
		gap: 6em;
	}
	.flag {
		width: 50%;
	}
	.main li {
		margin-top: 0.5em;
	}
	.detail {
		width: 50%;
	}
}
