@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
	--bg: #fafafa;
	--accent1: #fff;
	/* --accent2: hsl(21, 84%, 56%); */
	/* --accent3: hsl(40, 89%, 65%); */
	--text: #111517;
	--placeholder: #848484;
}

.dark {
	--bg: #202c36;
	--accent1: #2b3844;
	--text: #fff;
	--placeholder: #fff;
}

#app {
	background: var(--bg);
	min-height: 100vh;
	transition: background 400ms ease-in-out, color 800ms ease;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* outline: 1px solid tomato; */
}

body {
	font-family: 'Nunito Sans', sans-serif;
}

a {
	text-decoration: none;
	color: var(--text);
}

img {
	display: block;
	width: 100%;
}

ul {
	list-style: none;
}
