.container {
	max-width: 1200px;
	margin: 0 auto;
}

.card_container {
	padding-top: 2rem;
	display: grid;
	justify-content: center;
	row-gap: 2.5rem;
}
@media (min-width: 48em) {
	.card_container {
		padding-top: 3rem;
		justify-content: space-evenly;
		grid-template-columns: repeat(2, 264px);
		row-gap: 4.6875rem;
	}
}

@media (min-width: 62em) {
	.card_container {
		grid-template-columns: repeat(3, 264px);
		justify-content: space-evenly;
	}
}

@media (min-width: 75em) {
	.card_container {
		grid-template-columns: repeat(4, 264px);
	}
}
